.jumbotron {
  background-image: url("./Images/image.jpg");
  background-size: cover;
  color: #9d85df;
  font-style: italic;
}

.navbar {
  background-color:	#6000c4;
  background-repeat: no-repeat;
}

.navbar a {
  color: #FFFFFF !important;
}

.dropdown-menu {
  background-color: #6000c4 !important;
}

.toggler {
  color: #FFFFFF !important;
}

nav a:hover {
  background-color: #9d85df !important;
}

/*a:link {
	color: #0069e2;
}*/

button:hover, a:hover {
	color: #6000c4 !important;
}

.btn-purple {
  color: #fff;
  background-color: #9d85df;
  border-color: #9d85df;
}

.collapseButton {
  color: #9d85df;
  font-size: 80%;
  font-weight: bold;
  display: block;
}

h4 {
  font-weight: bold;
}

p {
  font-size: 120%;
}

p.my_padding {
  padding: 0 40px 0 30px;
  text-align: justify;
}

.fixed-footer {
  background-color: #6000c4;
  /*position: fixed;
  left: 0;
  bottom: 0;*/
  width: 100%;
  color: white;

}
