body {
  background-image: linear-gradient(#C0C0C0, white, #9d85df);
  min-height: 100%;
}

h4 {
  font-weight: bold;
}

p {
  font-size: 120%;
}

p.my_padding {
  padding: 0 40px 0 30px;
  text-align: justify;
}

.jumbotron {
  background-image: url("./Images/Computer Science Design Sample.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #9d85df;
  font-style: italic;
  background-color: transparent;
}

.class-header {
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .jumbotron {
    display: none;
  }
}

.navbar {
  background-color:	#4E2581;
  background-repeat: no-repeat;
}

.navbar a {
  color: #FFFFFF;
}

.dropdown-menu, .dropdown-item {
  background-color: #FFFFFF !important;
  color: #4E2581 !important;
}

.toggler {
  color: #4E2581 !important;
}

nav a:hover {
  color: #9d85df !important;
}

.link {
  color: #9d85df !important;
}

button:hover, a:hover {
	color: #9d85df !important;
}

.dropdown-item.active {
  background-color: #FFFFFF;
}

.btn-purple {
  color: #fff;
  background-color: #4E2581;
  border-color: #4E2581;
}

.collapseButton {
  color: #4E2581;
  font-size: 80%;
  font-weight: bold;
  display: block;
}

.list-group-item {
  background-color: transparent;
  border-style: none;
  padding: 5px;
}
